.weatherInfoContainer {
	margin-top: 5%;
	width: 90%;
	height: 20%;
	/* border: 2px solid black; */
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.weatherInfoContainer--sunset {
	width: 28%;
	height: 100%;
	/* background-color: red; */
	display: flex;
	flex-direction: column;
	align-items: center;
}
.weatherInfoContainer--sunset img {
	margin-top: 4%;
	width: 30%;
	height: 50%;
}
.weatherInfoContainer--sunset div {
	font-size: 3.3vh;
}
.weatherInfoContainer--currentTemp {
	width: 28%;
	height: 100%;
	/* background-color: red; */
	font-size: 3.9vw;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	color: white;
	font-weight: lighter;
}

.weatherInfoContainer-Description {
	width: 28%;
	height: 100%;
	/* background-color: green; */
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-size: 9vh;
	font-weight: bolder;
	text-align: center;
}
